PORT=5000
MONGODB_URI=mongodb://localhost:27017/galas_komunikator
JWT_SECRET=zmien_to_na_dlugi_losowy_klucz_w_produkcji_min64znaki
JWT_EXPIRES_IN=30d
CLIENT_URL=http://localhost:3000
NODE_ENV=development
